.app {
  background:blue;
  padding: 50px;
  padding-left: 0%;
  height: 100vmin;
}
.todo {
  background: red;
  padding:50px;
  margin: 30px;
}
.form {
  margin: 30px;
  padding: 15px;
  color: aqua ;
}
.input {
  color:green;
  background: black;
}
